.calendar {
    display: flex;
    justify-content: center;
    min-width: 1800px;
    padding: 20px;
}

.calendar__data {
    min-width: 1200px;
}

.border__line {
    margin: 10px 0;
    border: 1px solid lightgray;
}