.task-page {
    text-align: initial;
    width: 1400px;
    height: calc(100vh - 54px);
}

.task-page .task__header {
    font-size: 22px;
    opacity: 0.7;
}

.task-page fieldset {
    border: none;
    display: grid;
}

.task-page fieldset label {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 100px;
    padding: 5px 10px;
}

.task-page .task__fields fieldset label {
    text-align: right;
    background: #eae9e9;
}

.task-page .task__attachments label {
    background: initial;
}

.task-page fieldset[disabled] .task__field {
    border: 0;
    background: inherit;
    padding: 5px 10px;
    font-size: 14px;
}