.months .btn {
    border: none;
    background: inherit;
    position: absolute;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.months .btn.btn__right {
    right: 0;
}

.calendar__title {
    margin: 0;
}