.modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal__content {
    background: #fff;
    min-width: 500px;
    cursor: initial;
    text-align: center;
    border-radius: 3px;
}

.modal__body {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.modal__header h3 {
    font-family: 'Calibri', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 3rem;
    margin: 0;
    opacity: 0.7;
}

.modal__body input {
    border: 1px solid #c2c2c2;
    border-radius: 2px;
}

.modal__footer {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 10px;
    line-height: 0;
}

.modal__footer .btn {
    border: inherit;
    padding: 10px 20px;
    cursor: pointer;
}

.modal__footer .btn-submit {
    background: #c6f2ff;
}