.task-cmp {
    margin: 5px;
    padding: 10px 20px;
    background: #d9eff9;
    border-radius: 3px;
    font-size: 14px;
}

.task-cmp.task-completed {
    background: #c6ffda;
}

.task-cmp .task__title span {
    cursor: pointer;
}

.task-completed .task__title span , .task-completed p {
    text-decoration: line-through;
}